@{
    ViewData["Title"] = "Carrick Scriprture Union";
}
<img src="~/images/Carrick Crest.jpg" class="img-responsive topLeftImage" />
<img src="~/images/SU website  kids.jpg" class="img-responsive topRightImage" />
<div class="container">
    <div class="row">
        <div class="col">
        </div>
        <div class="col">
            <h1 class="text-center" style="font-weight:bold">Carrick Scripture Union</h1>
        </div>
        <div class="col">
        </div>
    </div>
    <div class="row">
        <div class="col">
        </div>
        <div class="col-md-offset-3 col-md-8" style="margin-top:20px; margin-bottom:100px">
            <h3 class="text-center">Every Tuesday from 3pm to 4pm</h3>
        </div>
        <div class="col">
        </div>
    </div>
    <div class="row">
        <div class="col mx-auto text-center">
            <a href="@Url.Action("Index", "Verse")">
                <div class="row thumbnail">
                    <img src="~/images/bible.jpg" class="img-fluid" />
                </div>
                Bible verses
            </a>
        </div>
        <div class="col mx-auto text-center">
            <a href="@Url.Action("Videos", "Home")">
                <div class="row thumbnail">
                    <img src="~/images/videoicon.jpg" class="img-fluid" />
                </div>
                Videos
            </a>
        </div>
        <div class="col mx-auto text-center">
            <a href="@Url.Action("Quiz", "Home")">
                <div class="row thumbnail">
                    <img src="~/images/quiz.jpg" class="img-fluid" />
                </div>
                Competition
            </a>
        </div>
        <div class="col mx-auto text-center">
            <a href="https://www.wondersurf.com">
                <div class="row thumbnail">
                    <img src="~/images/Wondersurf.jpg" class="img-fluid" />
                </div>
                Wondersurf
            </a>
        </div>
    </div>
</div>