@{
    ViewData["Title"] = "Parent Information";
}

<div class="row">
    Dear Parent,
</div>
<div class="row">
<br />
</div>
<div class="row">
    We hope to begin Scripture Union on Tuesday 3rd October and follow on each Tuesday afterwards.
</div>
<div class="row">
    There will be no SU the week of the Parent Interviews but it will take place on:
</div>
<div class="row">

</div>
<div class="row">
    <div class="col-md-6">
        3rd October
    </div>
    <div class="col-md-6">
        7th November
    </div>
    <div class="col-md-6">
        10th October
    </div>
    <div class="col-md-6">
        21st November
    </div>
    <div class="col-md-6">
        17th October
    </div>
    <div class="col-md-6">
        28th November
    </div>
    <div class="col-md-6">
        24th October
    </div>
    <div class="col-md-6">
        5th December
    </div>
</div>
<div class="row">
    <br />
</div>
<div class="row">
    All children should meet at the P3/4 cloakroom at 3 o’clock.
</div>
<div class="row">
    SU takes place in Miss Irvine’s room and everyone is welcome.
</div>
<div class="row">
    We are looking forward to singing, learning a memory verse, hearing a Bible story and battling over a quiz.
</div>
<div class="row">
    SU finishes at 4pm and children in P3 or P4 must be met at the usual P3/4 door.
</div>
<div class="row">
    P5 – P7 pupil swill be allowed to walk down the path as usual.
</div>
<div class="row">
    Please complete the permission slip below and return to Miss Irvine or Mrs Gorman on or before Tuesday 3rd October.
</div>
<div class="row">
    Looking forward to another great year of Scripture Union,
</div>
<div class="row">
    <br />
</div>

<div class="row">
    Miss Irvine
</div>
<div class="row">
    Mrs Gorman
</div>
<div class="row">
    <br />
</div>

<div class="row">
    - - -- - - --  - - - - - - - --  -- - - - -- - - - -- - - - - -- - -
</div>
<div class="row">
    <br />
</div>

<div class="row">
    ________________ has my permission to attend Scripture Union.
</div>
<div class="row">
    <br />
</div>

<div class="row">
    At 4 o’clock I will be at the P3/4 door/they will go to pm club/they are in P5-P7 and they will walk down the path. (Please delete as appropriate.)
</div>
<div class="row">
    <br />
</div>

<div class="row">
    <br />
</div>
<div class="row">
    Signed: _________________  		Date:____________
    <div class="row">
    </div>
    <div class="row">
    </div>
</div>