
@{
    ViewData["Title"] = "Quiz";
}

<h2>Competition</h2>

<p>For the next Scripture Union on the 21st November:</p>
<p>Draw a picture from one of the stories for a prize.</p>
<p>Or remember as many books of the bible as you can for a prize.</p>