@{
    ViewBag.Title = "Videos";
}

<h2>Videos</h2>
<div class="row" height="500px">
    <div class="col-sm-6 col-md-5 col-lg-6 text-center">
        <iframe src="https://www.youtube.com/embed/jL0rQlDYGL8" width="100%" height="400px" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="https://vimeo.com/44930545">God&#039;s Story: Abraham</a> from <a href="https://vimeo.com/kidsclub">Crossroads Kids&#039; Club</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
    </div>
    <div class="col-sm-6 col-md-5 col-lg-6 text-center">
        <iframe width="100%" height="400px" src="//player.vimeo.com/video/58572500" frameborder="0" allowfullscreen></iframe>
    </div>
</div>
<div class="row" height="500px">
    <div class="col-sm-6 col-md-5 col-lg-6 text-center">
        <iframe width="100%" height="400px" src="//www.youtube.com/embed/3Q1E06v5oBo" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="col-sm-6 col-md-5 col-lg-6 text-center">
        <iframe src="//player.vimeo.com/video/49018350" width="100%" height="400px" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/49018350">God's Story: Creation</a> from <a href="http://vimeo.com/kidsclub">Crossroads Kids&#039; Club</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
    </div>
</div>
<div class="row" height="500px">
    <div class="col-sm-6 col-md-5 col-lg-6 text-center">
        <iframe src="//player.vimeo.com/video/68619341" width="100%" height="400px" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/68619341">Genesis Creation 2013</a> from <a href="http://vimeo.com/user5808003">Mike Egts</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
    </div>
    <div class="col-sm-6 col-md-5 col-lg-6 text-center">
        <iframe src="//player.vimeo.com/video/44930545" width="100%" height="400px" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="https://vimeo.com/44930545">God&#039;s Story: Abraham</a> from <a href="https://vimeo.com/kidsclub">Crossroads Kids&#039; Club</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
    </div>
</div>
<div class="row" height="500px">
    <div class="col-sm-6 col-md-5 col-lg-6 text-center">
        <iframe src="https://www.youtube.com/embed/yDpM_j1MZG8" width="100%" height="400px"  frameborder="0" gesture="media" allowfullscreen></iframe>
    </div>
</div>
